<a href="https://colab.research.google.com/github/Balgaros/Python/blob/master/Evaluation_Yvan_Capron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
df = pd.read_csv('/content/drive/My Drive/data.csv')
df.head()

       Country  Year  ... Cholera case fatality rate             WHO Region
0  Afghanistan  2016  ...                        0.7  Eastern Mediterranean
1  Afghanistan  2015  ...                       0.01  Eastern Mediterranean
2  Afghanistan  2014  ...                        0.0  Eastern Mediterranean
3  Afghanistan  2013  ...                       0.35  Eastern Mediterranean
4  Afghanistan  2012  ...                        0.1  Eastern Mediterranean

[5 rows x 6 columns]