<a href="https://colab.research.google.com/github/Balgaros/Python/blob/master/exo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print ('Veuillez entrer un nombre: ')
nombre =int(input())
print("le carré de ", nombre, " est ", nombre**2)

Veuillez entrer un nombre:
5
le carré de  5  est  25

In [1]:
print ('Veuillez entrer un nombre: ')
nombre =int(input())
if nombre < 0 :
  print ("Négatif")
else :
  print ("Positif")

Veuillez entrer un nombre:
-6
Négatif

In [2]:
print ('Veuillez entrer le premier nombre: ')
nombre =int(input())
print ('Veuillez entrer le second nombre: ')
nombre2 =int(input())
S = nombre + nombre2
if S < 0 :
  print ("Négatif")
else :
  print ("Positif")

Veuillez entrer le premier nombre:
4
Veuillez entrer le second nombre:
2
Positif

In [3]:
print ('Veuillez entrer le premier nombre: ')
nombre =int(input())
i=0
while i < 10 :
  i=i+1
  nombre=nombre+1
  print (nombre)

Veuillez entrer le premier nombre:
4
5
6
7
8
9
10
11
12
13
14

In [5]:
print ('Veuillez entrer le premier nombre: ')
nombre =int(input())
s=0
for i in range (0,nombre+1) :
  s=s+i
  print (s, "+")

Veuillez entrer le premier nombre:
4
0 +
1 +
3 +
6 +
10 +

In [42]:

tab = [10,15,7]
print (tab[0]+tab[1]+tab[2])

32

In [48]:
tab = [10,15,7]
tab2 = [20,12,10]
tab3 = [0,0,0]
tab3[0]=tab[0]+tab2[0]
tab3[1]=tab[1]+tab2[1]
tab3[2]=tab[2]+tab2[2]
print (tab3)

[30, 27, 17]

In [ ]:
tab = [10,15,7]
tab2 = [20,12,10]
n=0
for element in range(0,2):
  tab[n]=tab[n+1]

In [55]:
tab = [10,15,7]
tab2 = [20,12,10]
tab3[0]=tab[0]*tab2[0]
tab3[1]=tab[1]*tab2[1]
tab3[2]=tab[2]*tab2[2]
tab3=tab3[0]+tab3[1]+tab3[2]
print (tab3)

450